html {
  padding: 0;
  margin: 0;
}
body {
  min-width: 800px;
  margin: 0;
  padding: 0 10px;
  font-family: 'Ubuntu', sans-serif;
}
button, textarea, input {
  font-family: 'Ubuntu', sans-serif;
}

button, textarea, input, div, span, ul, li, p, q, a {
  padding: 0;
  margin: 0;
}

input {
  border: 1px solid black;
  padding: 5px;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

q {
  display: block;
  color: #006d37;
  font-style: italic;
  quotes: none;
}

a.post-id {
  color: black;
}

.pull-left {
  float: left;
}

.btn {
  display: inline-block;
  line-height: 19px;
  border: none;
  background: #222;
  color: lightgrey;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.btn.btn-small {
  padding: 0 3px 1px 3px;
  font-size: 12px;
  line-height: 12px;
}
.btn:hover {
  background: white;
  color: black;
  box-shadow: 0 0 4px black;
}
.btn.active,
.btn.active:hover {
  background: lightgrey;
  color: black;
  box-shadow: none;
  cursor: default;
}
.btn.active.btn-tgl:hover {
  cursor: pointer;
  box-shadow: 0 0 4px black;
}
.btn:active {
  background: lightgrey;
}

.btn.btn-light {
  background: white;
  color: grey;
  border: 1px solid lightgrey;
  padding: 5px;
}
.btn.btn-light:hover {
  box-shadow: 0 0 4px grey;
  color: black;
}
.btn.btn-light:active {
  background: lightgrey;
  color: black;
}
.btn.btn-light.btn-small:hover {
  box-shadow: 0 0 2px grey;
}
.btn.btn-light.btn-small {
  padding: 0 2px 1px 2px;
}

.btn.btn-icon {
  width: 19px;
  height: 19px;
  background-size: 22px 22px !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-attachment: local !important;
}

doesnotexist:-o-prefocus, .btn.btn-icon {
  border-radius: 0px;
}

.icon-settings { background-image: url("/img/i/settings-inverse.svg") !important; }
.icon-no-sound { background-image: url("/img/i/no-sound-inverse.svg") !important; }
.icon-sound    { background-image: url("/img/i/sound-inverse.svg")    !important; }
.icon-help     { background-image: url("/img/i/help-inverse.svg")     !important; }
.icon-settings:hover, .icon-settings.active { background-image: url("/img/i/settings.svg") !important; }
.icon-no-sound:hover, .icon-no-sound.active { background-image: url("/img/i/no-sound.svg") !important; }
.icon-sound:hover,    .icon-sound.active    { background-image: url("/img/i/sound.svg")    !important; }
.icon-help:hover,     .icon-help.active     { background-image: url("/img/i/help.svg")     !important; }

textarea.black-special,
input.black-special {
  height: 29px;
  line-height: 19px;
  padding: 5px;
  border: 0 solid black;
  background: #222;
  color: lightgrey;
  border-radius: 5px;
  font-size: 16px;
}
textarea.black-special:hover,
input.black-special:hover {
  box-shadow: 0 0 4px grey;
  color: black;
  background: white;
}
textarea.black-special:focus,
input.black-special:focus {
  color: black;
  background: white;
  box-shadow: 0 0 4px grey;
}
textarea.black-special.active,
input.black-special.active {
  background: lightgrey;
  color: black;
}
textarea.black-special.static:hover,
input.black-special.static:hover,
textarea.black-special.static:focus,
input.black-special.static:focus {
  background: #222;
  color: lightgrey;
}



#input-room {
  width: 20px;
  min-width: 20px;
  max-width: 100px;
}

#ctrls {
  box-sizing: border-box;
  float: left;
  width: 300px;
  position: fixed;
  top: 10px;
  left: 10px;
  bottom: 10px;
  list-style-type: none;
  border-right: 1px solid black;
  user-select: none;
}

#ctrls .ctrl.hdr a {
  font-size: 24px;
  color: black;
  text-decoration: none;
}
#ctrls .ctrl.hdr,
#ctrls .ctrl.rooms {
  text-align: center;
  cursor: default;
}

#ctrls .ctrl.rooms span {
  display: inline-block;
  text-decoration: none;
}


#ctrls .ctrl {
  padding: 10px 0;
  border-bottom: 1px solid black;
}
#ctrls .ctrl:first-child {
  padding: 0;
  padding-bottom: 10px;
}
#ctrls .ctrl.last {
  padding: 0;
  padding-top: 10px;
  border: none;
}

#ctrls .other-btns {
  display: block;
  width: 300px;
  bottom: 60px;
  text-align: center;
  vertical-align: text-bottom;
  height: 35px;
  position: fixed;
  bottom: 40px;
  padding-bottom: 15px;
}

#ctrls .other-form .hdr {
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
  display: block;
}

#ctrls .other-form {
  position: fixed;
  bottom: 92px;
  padding: 10px;
  left: 0px;
  width: 308.5px;
  text-align: center;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 14px;
}
#ctrls .other-form .close {
  float: right;
  display: inline-block;
  padding-top: 8px;
  padding-right: 10px;
  font-size: 26px;
  cursor: pointer;
}
#ctrls .other-form ul {
  background: white;
  border-radius: 5px;
  border: 1px solid lightgrey;
  box-shadow: 0 0 4px grey;
  padding: 10px;
  text-align: left;
}

#ctrls .other-form ul ul {
  padding: 0 0 10px 15px;
  border: none;
  box-shadow: none;
  text-align: left;
  list-style-type: disc;
}
#ctrls .other-form ul ul li {
  padding-top: 5px;
  padding-left: 5px;
}
#ctrls .other-form ul ul q {
  display: inline;
}


#rooms-list {
  margin-top: 5px;
  width: 100%;
  display: block;
}

#ctrls .stats {
  position: fixed;
  bottom: 10px;
  font-size: 10px;
  line-height: 10px;
  border-top: 1px solid black;
}
#ctrls .stats .rows {
  width: 300px;
  padding-top: 8px;
}
#ctrls .stats .key {
  float: left;
  width: 200px;
  text-align: right;
  padding-right: 5px;
}

#write-ctrl {
  list-style-type: none;
  padding-right: 10px;
}

#write-ctrl li {
  margin-bottom: 10px;
}

#write-ctrl li:last-child {
  margin-bottom: 0;
}

#write-ctrl li.btns {
  text-align: right;
}

#input-msg {
  width: 280px;
  height: 100px;
  min-height: 100px;
  max-height: 200px;
  line-height: 20px;
  font-size: 12px;
  overflow: hidden;
  resize: vertical;
}

#input-msg::-webkit-input-placeholder { font-style: italic; }
#input-msg::-moz-placeholder { font-style: italic; }
#input-msg:-ms-input-placeholder { font-style: italic; }
#input-msg:-moz-placeholder { font-style: italic; }

#msgs {
  box-sizing: border-box;
  margin-left: 310px;
}
#msgs li {
  list-style-type: none;
}
#msgs .msg-outer { 
  border-bottom: 1px solid black;
  margin: 0;
  padding: 5px 0;
}
#msgs .msg {
  border-radius: 5px;
  padding: 5px 0 5px 5px;
}

#msgs .msg.active {
  background: #ebf5ff;
  box-shadow: 0 0 5px #ebf5ff;
}

#msgs .msg:first-child {
  margin-top: 0;
}

#msgs .msg-outer:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}

#msgs .msg .txt {
  max-height: 200px;
  overflow: auto;
}

#msgs .msg .hdr {
  font-size: 12px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  text-decoration-color: #0000ee;
}

a.lnk-room-post:visited {
  text-decoration-color: #7700ee;
}

a:hover {
  text-decoration: underline;
}
