body {
  min-width: 800px;
  margin: 0px;
  padding: 10px;
}

* {
  padding: 0px;
  margin: 0px;
}

ul {
  list-style-type: none;
}

.area {
}

#ctrls {
  box-sizing: border-box;
  float: left;
  width: 300px;
  position: fixed;
  top: 10px;
  left: 10px;
  bottom: 10px;
  list-style-type: none;
  border-right: 1px solid black;
  user-select: none;
}

#ctrls .ctrl.hdr,
#ctrls .ctrl.rooms {
  text-align: center;
  cursor: default;
}

#ctrls .ctrl.rooms a {
  display: inline-block;
  text-decoration: none;
  background: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
#ctrls .ctrl.rooms a:hover {
  border: 1px solid black;
  padding: 4px;
  background: white;
  color: black;
}
#ctrls .ctrl.rooms a.active {
  background: lightgrey;
  color: black;
}
#ctrls .ctrl.rooms a.active:hover {
  border: none;
  padding: 5px;
}

#ctrls .ctrl {
  padding: 10px 0px;
  border-bottom: 1px solid black;
}

#ctrls .ctrl:first-child {
  padding: 0px;
  padding-bottom: 10px;
}

#ctrls .ctrl:last-child {
  padding: 0px;
  padding-top: 10px;
  border: none;
}

#write-ctrl {
  list-style-type: none;
  padding-right: 10px;
}

#write-ctrl li {
  margin-bottom: 10px;
}

#write-ctrl li:last-child {
  margin-bottom: 0px;
}

#write-ctrl li.btns {
  text-align: right;
}

#input-msg {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  resize: none;
  padding: 5px;
  border: 1px solid black;
}

#btn-send {
  padding: 5px;
  border: 1px solid black;
  background: black;
  color: white;
}
#btn-send:hover {
  background: white;
  color: black;
}
#btn-send:active {
  padding: 3px;
  margin: 2px;
}


#msgs {
  box-sizing: border-box;
  margin-left: 310px;
}

#msgs .msg {
  list-style-type: none;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

#msgs .msg:last-child {
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: none;
}

#msgs .msg .hdr {
  font-size: 12px;
  margin-bottom: 5px;
}
