html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Play', sans-serif;
  font-size: 16px;
  background: #808080;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}
body {
  padding: 10px;
  text-align: left;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
button,
textarea,
input,
div,
span,
ul,
li,
p,
q,
a {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}
input,
textarea {
  font-size: 16px;
  font-family: 'Play', sans-serif;
}
#inp-params-bkg-img,
#inp-imgs {
  position: fixed;
  left: -1000px;
  right: -1000px;
}
q {
  display: block;
  color: #006d37;
  font-style: italic;
  quotes: none;
}
.sps-5px {
  display: inline-block;
  width: 5px;
}
.nowrap {
  white-space: nowrap;
}
.pll-rght {
  float: right;
  margin-left: 5px;
}
.pll-rght:first-child {
  margin-left: 0;
}
.icon-image {
  background-image: url("/img/i/image-inverse.svg") !important;
}
.icon-settings {
  background-image: url("/img/i/settings-inverse.svg") !important;
}
.icon-no-sound {
  background-image: url("/img/i/no-sound-inverse.svg") !important;
}
.icon-sound {
  background-image: url("/img/i/sound-inverse.svg") !important;
}
.icon-help {
  background-image: url("/img/i/help-inverse.svg") !important;
}
.icon-image:hover,
.icon-image.active {
  background-image: url("/img/i/image.svg") !important;
}
.icon-settings:hover,
.icon-settings.active {
  background-image: url("/img/i/settings.svg") !important;
}
.icon-no-sound:hover,
.icon-no-sound.active {
  background-image: url("/img/i/no-sound.svg") !important;
}
.icon-sound:hover,
.icon-sound.active {
  background-image: url("/img/i/sound.svg") !important;
}
.icon-help:hover,
.icon-help.active {
  background-image: url("/img/i/help.svg") !important;
}
.btn-dsbld.icon-image:hover,
.btn-dsbld.icon-image.active {
  background-image: url("/img/i/image-inverse.svg") !important;
}
.btn-dsbld.icon-settings:hover,
.btn-dsbld.icon-settings.active {
  background-image: url("/img/i/settings-inverse.svg") !important;
}
.btn-dsbld.icon-no-sound:hover,
.btn-dsbld.icon-no-sound.active {
  background-image: url("/img/i/no-sound-inverse.svg") !important;
}
.btn-dsbld.icon-sound:hover,
.btn-dsbld.icon-sound.active {
  background-image: url("/img/i/sound-inverse.svg") !important;
}
.btn-dsbld.icon-help:hover,
.btn-dsbld.icon-help.active {
  background-image: url("/img/i/help-inverse.svg") !important;
}
.btn {
  display: inline-block;
  line-height: 20px;
  border: none;
  background: #222;
  color: #d3d3d3;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.btn.btn-dsbld {
  background-color: #808080;
  color: light-grey;
  box-shadow: none;
  cursor: default;
}
.btn.btn-dsbld:hover,
.btn.btn-dsbld:focus,
.btn.btn-dsbld.actv {
  background-color: #808080;
  color: #d3d3d3;
  box-shadow: none;
  cursor: default;
}
.btn.btn-sml {
  padding: 0 2px;
  font-size: 12px;
  line-height: 12px;
}
.btn:focus,
.btn:hover {
  background: #fff;
  color: #000;
  box-shadow: 0 0 4px #000;
}
.btn.actv,
.btn.actv:hover {
  background: #d3d3d3;
  color: #000;
  box-shadow: none;
  cursor: default;
  border: 1px solid #808080;
  padding: 4px;
}
.btn.actv.btn-tgl:hover {
  cursor: pointer;
  box-shadow: 0 0 4px #000;
}
.btn:active {
  background: #d3d3d3;
}
.btn.btn-wht {
  background: #fff;
  color: #333;
  border: 1px solid #d3d3d3;
  padding: 5px;
}
.btn.btn-wht.btn-dsbld {
  background-color: #d3d3d3;
  color: #808080;
  box-shadow: none;
  cursor: default;
}
.btn.btn-wht.btn-dsbld:hover,
.btn.btn-wht.btn-dsbld:focus,
.btn.btn-wht.btn-dsbld.actv {
  background-color: #d3d3d3;
  color: #808080;
  box-shadow: none;
  cursor: default;
}
.btn.btn-wht:hover {
  box-shadow: 0 0 4px #808080;
  color: #000;
}
.btn.btn-wht:active {
  background: #d3d3d3;
  color: #000;
}
.btn.btn-wht.btn-sml:hover {
  box-shadow: 0 0 2px #808080;
}
.btn.btn-wht.btn-sml {
  padding: 0 2px 1px 2px;
}
.btn.btn-icon {
  width: 29px;
  height: 29px;
  background-size: 21px !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-attachment: local !important;
}
.btn.btn-rm {
  margin-right: 5px;
}
.btn.btn-rm:last-child {
  margin-right: 0;
}
.btn.btn-close {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 24px;
  width: 24px;
  padding: 0;
  line-height: 20px;
}
.btn.btn-close.btn-img-rm {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  border-radius: 3px;
  right: 3px;
  top: 3px;
  width: 10px;
  height: 10px;
  line-height: 6px;
  vertical-align: middle;
  text-align: center;
  font-size: 10px;
}
.btn.btn-edtr-img {
  height: 100px;
  margin-left: 5px;
  vertical-align: top;
}
doesnotexist:-o-prefocus,
.btn.btn-icon {
  border-radius: 0px;
}
.txt-blk {
  min-height: 30px;
  line-height: 20px;
  padding: 5px;
  border: 0 solid #000;
  background: #222;
  color: #d3d3d3;
  border-radius: 5px;
  font-size: 16px;
}
.txt-blk:hover {
  box-shadow: 0 0 4px #808080;
  color: #000;
  background: #fff;
}
.txt-blk:focus {
  color: #000;
  background: #fff;
  box-shadow: 0 0 4px #000;
}
.txt-blk.actv {
  background: #d3d3d3;
  color: #000;
}
.txt-blk.stc:hover {
  background: #222;
  color: #d3d3d3;
  box-shadow: none !important;
}
.txt-blk.txt-dsbld {
  background-color: #d3d3d3;
  color: #808080;
  box-shadow: none;
  cursor: default;
}
.txt-blk.txt-dsbld:hover,
.txt-blk.txt-dsbld:focus,
.txt-blk.txt-dsbld.actv {
  background-color: #d3d3d3;
  color: #808080;
  box-shadow: none;
  cursor: default;
}
.txt-blk.txt-blk-edtr-msg {
  width: 446px;
  height: 100px;
  line-height: 20px;
  font-size: 16px;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  resize: none;
}
.txt-blk.txt-params-rms {
  width: 100%;
}
.txt-blk.txt-params-bkgimg {
  width: 230px;
}
.col {
  white-space: normal;
  vertical-align: top;
  text-align: left;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  padding: 10px;
  width: 400px;
  margin-right: 10px;
  background-image: url("/img/bg-1.png");
  box-shadow: 0 0 5px #000;
  border-radius: 5px;
}
.col.col-w2 {
  width: 200px;
}
.col.col-w3 {
  width: 300px;
}
.col.col-w4 {
  width: 400px;
}
.col.col-w5 {
  width: 500px;
}
.col.col-w6 {
  width: 600x p;
}
.col .col-hdr {
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 32px;
  text-shadow: 0px 1px 1px #4d4d4d;
  color: #222;
  cursor: default;
}
.col .col-hdr a,
.col .col-hdr span {
  color: #222;
  text-decoration: none;
}
.col .col-hdr.col-hdr-scnd {
  font-size: 24px;
  line-height: 35px;
  height: 35px;
}
.col .col-lbl {
  font-size: 16px;
  padding: 5px 0;
  margin-top: 5px;
}
.col .col-lbl:first-child {
  margin-top: 0;
}
.col .col-hlp {
  font-size: 14px;
  padding-left: 15px;
}
.col .col-hlp-cnt {
  max-height: 300px;
  overflow-y: scroll;
  padding-right: 5px;
}
.col .row {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.col .row.row-rms {
  line-height: 35px;
  text-align: center;
}
.col .col-hr {
  display: block;
  margin: 7px 0 10px 0;
  height: 1px;
  box-shadow: 1px 2px 3px #000;
}
.col-cht {
  height: 100%;
  min-height: 600px;
}
.col-cht .msgs {
  position: absolute;
  right: 10px;
  left: 10px;
  top: 70px;
  bottom: 161px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #222;
  border-radius: 5px;
  color: #d3d3d3;
  min-height: 300px;
}
.col-cht .msgs .msg {
  padding: 10px;
  border-bottom: 1px solid #808080;
}
.col-cht .msgs .msg .msg-in {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
.col-cht .msgs .msg.msg-actv {
  background: #d3d3d3;
  color: #222;
}
.col-cht .msgs .msg.msg-actv .msg-actv-btns {
  display: inline;
}
.col-cht .msgs .msg.msg-actv:hover .msg-unactv-btns {
  display: none;
}
.col-cht .msgs .msg:last-child {
  border-bottom: 0;
}
.col-cht .msgs .msg .msg-hdr {
  font-size: 12px;
  margin-bottom: 5px;
  color: #808080;
}
.col-cht .msgs .msg .msg-actv-btns,
.col-cht .msgs .msg .msg-unactv-btns {
  display: none;
}
.col-cht .msgs .msg:hover .msg-unactv-btns {
  display: inline;
}
.col-cht .msgs .msg a {
  text-decoration: none;
  text-decoration-color: #0cc;
  color: #0cc;
}
.col-cht .msgs .msg a:visited {
  color: #088;
}
.col-cht .edtr {
  position: absolute;
  right: 10px;
  left: 10px;
  bottom: 10px;
}
.col-cht .edtr .edtr-row {
  width: 100%;
  padding-top: 10px;
}
.col-cht .edtr .edtr-row:first-child {
  padding-top: 0;
}
.col-cht .edtr .edtr-row.edtr-row-imgs {
  margin-top: 5px;
  background: #222;
  border-radius: 5px;
}
.col-cnt {
  display: inline-block;
  position: relative;
  height: 100%;
}
.col-cnt > .col {
  display: block;
  margin-bottom: 10px;
}
.col-cnt > .col:last-child {
  margin-bottom: 0;
}
.imgs-tbnls {
  height: 60px;
  padding: 5px !important;
  overflow: hidden;
}
.imgs-tbnls .imgs-tbnls-in {
  white-space: nowrap;
  height: 200px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.imgs-tbnls.imgs-tbnls-big {
  height: 110px;
}
.img-tbnl {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.img-tbnl:last-child {
  margin-right: 0;
}
.img-tbnl .btn-img-rm {
  display: none;
}
.img-tbnl:hover .btn-img-rm {
  display: block;
}
.img-tbnl.img-tbnl-big {
  width: 100px;
  height: 100px;
}
.new-msg-cnt {
  font-size: 10px;
  line-height: 6px;
  vertical-align: super;
  margin-left: 2px;
}
