html {
  padding: 0;
  margin: 0;
}
body {
  min-width: 800px;
  margin: 0;
  padding: 0 10px;
  font-family: 'Ubuntu', sans-serif;
  /*background-image: url(/img/main-background.gif);*/
  background: rgb(237, 237, 237);
}
button, textarea, input {
  font-family: 'Ubuntu', sans-serif;
}

button, textarea, input, div, span, ul, li, p, q, a {
  padding: 0;
  margin: 0;
}

input {
  border: 1px solid black;
  padding: 5px;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

q {
  display: block;
  color: #006d37;
  font-style: italic;
  quotes: none;
}

a {
  text-decoration: none;
  text-decoration-color: #0000ee;
}

a.lnk-room-post:visited {
  text-decoration-color: #7700ee;
}

a:hover {
  text-decoration: underline;
}
a.post-id {
  color: black;
}

.top-side-shadow {
  position: relative;
  overflow: hidden;
  left: -20px;
  width: 350px;
  height: 10px;
}
.top-side-shadow div {
  box-shadow: inset 0 0 5px black;
  height: 30px;
  width: 100%;
}

.bottom-side-shadow {
  position: relative;
  overflow: hidden;
  left: -20px;
  width: 350px;
  height: 10px;
}

.bottom-side-shadow div {
  box-shadow: inset 0 0 5px black;
  height: 20px;
  position: relative;
  top: -10px;
  width: 100%;
}

.pull-left {
  float: left;
}

.btn {
  display: inline-block;
  line-height: 19px;
  border: none;
  background: #222;
  color: lightgrey;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.btn.btn-small {
  padding: 0;
  font-size: 12px;
  line-height: 12px;
}
.btn:focus,
.btn:hover {
  background: white;
  color: black;
  box-shadow: 0 0 4px black;
}
.btn.active,
.btn.active:hover {
  background: lightgrey;
  color: black;
  box-shadow: none;
  cursor: default;
}
.btn.active.btn-tgl:hover {
  cursor: pointer;
  box-shadow: 0 0 4px black;
}
.btn:active {
  background: lightgrey;
}

.btn.btn-light {
  background: white;
  color: grey;
  border: 1px solid lightgrey;
  padding: 5px;
}
.btn.btn-light:hover {
  box-shadow: 0 0 4px grey;
  color: black;
}
.btn.btn-light:active {
  background: lightgrey;
  color: black;
}
.btn.btn-light.btn-small:hover {
  box-shadow: 0 0 2px grey;
}
.btn.btn-light.btn-small {
  padding: 0 2px 1px 2px;
}

.btn.btn-icon {
  width: 19px;
  height: 19px;
  background-size: 22px 22px !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-attachment: local !important;
}

doesnotexist:-o-prefocus, .btn.btn-icon {
  border-radius: 0px;
}

.icon-settings { background-image: url("/img/i/settings-inverse.svg") !important; }
.icon-no-sound { background-image: url("/img/i/no-sound-inverse.svg") !important; }
.icon-sound    { background-image: url("/img/i/sound-inverse.svg")    !important; }
.icon-help     { background-image: url("/img/i/help-inverse.svg")     !important; }
.icon-settings:hover, .icon-settings.active { background-image: url("/img/i/settings.svg") !important; }
.icon-no-sound:hover, .icon-no-sound.active { background-image: url("/img/i/no-sound.svg") !important; }
.icon-sound:hover,    .icon-sound.active    { background-image: url("/img/i/sound.svg")    !important; }
.icon-help:hover,     .icon-help.active     { background-image: url("/img/i/help.svg")     !important; }

textarea.black-special,
input.black-special {
  min-height: 30px;
  line-height: 20px;
  padding: 5px;
  border: 0 solid black;
  background: #222;
  color: lightgrey;
  border-radius: 5px;
  font-size: 16px;
}
textarea.black-special:hover,
input.black-special:hover {
  box-shadow: 0 0 4px grey;
  color: black;
  background: white;
}
textarea.black-special:focus,
input.black-special:focus {
  color: black;
  background: white;
  box-shadow: 0 0 4px black;
}
textarea.black-special.active,
input.black-special.active {
  background: lightgrey;
  color: black;
}
textarea.black-special.static:hover,
input.black-special.static:hover,
textarea.black-special.static:focus,
input.black-special.static:focus {
  background: #222;
  color: lightgrey;
  box-shadow: none !important;
}

#input-room {
  width: 20px;
  min-width: 20px;
  max-width: 100px;
}

#ctrls {
  box-sizing: border-box;
  float: left;
  width: 310px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 10px 0;
  list-style-type: none;
  box-shadow: 0 0 5px black;
  user-select: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQImU3IsQ0AMAzDsPz/mK/hDe5QBMiggRp0S9K5wB8LdC7QB8ZJOpllmBOJAAAAAElFTkSuQmCC);
}

#ctrls .ctrl.hdr {
  margin-bottom: 15px;
}
#ctrls .ctrl.hdr a {
  font-size: 40px;
  color: black;
  text-decoration: none;
  text-shadow: 0px 1px 1px #4d4d4d;
  color: #222;
}
#ctrls .ctrl.hdr,
#ctrls .ctrl.rooms {
  text-align: center;
  cursor: default;
}
#ctrls .ctrl.rooms {
  background: #ededed;
  overflow: hidden;
  line-height: 200%;
}
#ctrls .ctrl.rooms button {
  display: inline-block;
  text-decoration: none;
}


#ctrls .ctrl {
  padding: 0;
  margin: 10px 0px;
  text-align: center;
}
#ctrls .ctrl:first-child {
  margin-top: 0;
}
#ctrls .ctrl.last {
  margin-bottom: 0;
}

#ctrls .other-btns {
  margin: 0;
  padding: 0;
  display: block;
  width: 310px;
  bottom: 40px;
  text-align: center;
  vertical-align: text-bottom;
  line-height: 0;
  position: fixed;
  background: #ededed;
  overflow: hidden;
}

#ctrls .other-form {
  position: fixed;
  bottom: 90px;
  padding: 10px;
  left: 0px;
  width: 310px;
  text-align: center;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 14px;
}

#ctrls .other-form .hdr {
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
  display: block;
}

#ctrls .other-form .close {
  float: right;
  display: inline-block;
  padding-top: 8px;
  padding-right: 10px;
  font-size: 26px;
  cursor: pointer;
}
#ctrls .other-form ul {
  background: white;
  border-radius: 5px;
  border: 1px solid lightgrey;
  box-shadow: 0 0 4px black;
  padding: 10px;
  text-align: left;
}

#ctrls .other-form ul ul {
  padding: 0 0 5px 15px;
  border: none;
  box-shadow: none;
  text-align: left;
  list-style-type: disc;
}
#ctrls .other-form ul ul li {
  padding-top: 5px;
  padding-left: 5px;
}
#ctrls .other-form ul ul q {
  display: inline;
}

#ctrls .other-form.settings ul li {
  margin-bottom: 10px;
}
#ctrls .other-form.settings ul li:last-child {
  margin-bottom: 0px;
}
#ctrls .other-form.settings ul li input {
  margin-top: 5px;
  width: 100%;
  display: block;
}

#ctrls .stats {
  position: fixed;
  bottom: 0px;
  font-size: 10px;
  line-height: 10px;
  overflow: hidden;
  width: 310px;
  padding: 0 0 5px 0;
  margin: 0;
}
#ctrls .stats .rows {
  width: 100%;
}
#ctrls .stats .key {
  float: left;
  width: 200px;
  text-align: right;
  padding-right: 5px;
}

#write-ctrl {
  list-style-type: none;
}

#write-ctrl li {
  margin-bottom: 10px;
}

#write-ctrl li:last-child {
  margin-bottom: 0;
}

#write-ctrl li.btns {
  margin-left: 10px;
  text-align: right;
  width: 290px;
}

#msg-text {
  width: 270px;
  height: 100px;
  min-height: 100px;
  max-height: 200px;
  line-height: 20px;
  font-size: 12px;
  padding: 10px;
  overflow: hidden;
  resize: vertical;
}

#msg-text::-webkit-input-placeholder { font-style: italic; }
#msg-text::-moz-placeholder { font-style: italic; }
#msg-text:-ms-input-placeholder { font-style: italic; }
#msg-text:-moz-placeholder { font-style: italic; }
#msg-image-preview {
  max-width: 290px;
  max-height: 100px;
}
#msg-image-btn { width: 290px; }
#msg-image-input {
  position: fixed;
  visibility: hidden
  left: -1000px;
  right: -1000px;
}

#msgs {
  box-sizing: border-box;
  margin-left: 310px;
  padding-bottom: 5px;
}
#msgs li {
  list-style-type: none;
}
#msgs .msg-outer { 
  /*border-bottom: 1px solid black;*/
  margin: 0;
  padding: 5px 0;
}
#msgs .msg {
  border-radius: 5px;
  padding: 5px 0 5px 5px;
  background: rgba(255,255,255,0.4);
}

#msgs .msg.active {
  background: #ebf5ff;
  box-shadow: 0 0 5px #ebf5ff;
}

#msgs .msg:first-child {
  margin-top: 0;
}

#msgs .msg-outer:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}

#msgs .msg .img {
  float: left;
  margin-right: 5px;
}

#msgs .msg img {
  max-height: 100px;
  max-width: 100px;
}

#msgs .msg .txt {
  display: block;
  max-height: 200px;
  overflow: auto;
  vertical-align: top;
  line-height: 21px;
}

#msgs .msg .hdr {
  font-size: 12px;
  margin-bottom: 5px;
}
