extends layout

block title
  | anonchat.pw

block style
  style(rel="stylesheet", href="/css/index.css")

block content
  .hlp(data-bind="visible: helpVisible")
    .hdr Добро пожаловать
    .cnt <СПРАВКА>

  .stngs(data-bind="visible: settingsVisible")
    .hdr Настройки
    .cnt

  .ctrls
    .btn.right(data-bind="click: toggleSettings") Настройки
    .btn.right(data-bind="click: toggleHelp") Справка

  .chts(data-bind="foreach: chats")
    .cht
      .hdr(data-bind="text: name")
      .msgs(data-bind="foreach: messages")
        .msg
          .hdr
          .cnt
      .ctrls
        textarea.msg(data-bind="value: message")
        button.wht(data-bind="click: clear") Очистить
        button.blk(data-bind="click: write") Написать

block script
  script(type='text/javascript', src="/js/lib/jquery.js")
  script(type='text/javascript', src="/js/lib/jquery/cookie.js")
  script(type='text/javascript', src="/js/lib/knockout.js")
  script(type='text/javascript', src="/js/lib/knockout/mapping.js")
  script(type='text/javascript', src="/socket.io/socket.io.js")
  script(type='text/javascript', src="/js/api/image.js")
  script(type='text/javascript', src="/js/app/index.js")
